:host {
    display: block;
    position: relative;
}

input {
    flex: 1;
    padding: 10px;
    border-radius: 4px;
    font-size: 16px;
    outline: none;
    background: #f1f1f1;
    width: 100%;
}

button {
    position: absolute;
    right: 4px;
    top: 50%;
    translate: 0 -50%;
}