<input 
[name]="name" 
[id]="name" 
class="form-control" 
[ngModel]="value"
(ngModelChange)="onInput($event)" 
required
#control="ngModel"
placeholder=" "
minlength="6"
maxlength="50"
[class.invalid]="control.invalid && (control.dirty || control.touched)"
[class.valid]="control.valid && (control.dirty || control.touched)"
type="{{isPasswordVisible ? 'text' : 'password'}}" 
>

<button type="button" (click)="togglePasswordVisibility()" *ngIf="value">
<span class="hover:opacity-70" *ngIf="!isPasswordVisible"><i class="fa-solid fa-eye"></i></span>
<span class="hover:opacity-70" *ngIf="isPasswordVisible"><i class="fa-solid fa-eye-slash"></i></span>
</button>